* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  background-image: url('../images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  justify-self: center;
  width: 80%;
  padding: 20px 0px 20px 50px;
  outline: 1px solid hsla(249, 10%, 26%, 0.519);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  border: 0.5px solid hsla(249, 10%, 26%, 0.519);
}

button {
  color: #fff;
  background: hsl(154, 59%, 51%);
  border-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 0px;
  box-shadow: 0px 5px 0px 0px hsla(154, 51%, 57%, 0.552);
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  height: 100%;
}

.form-wrapper {
  margin: 10px 0px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.free-period {
  border: 1px solid hsl(248, 32%, 49%);
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  max-width: 600px;
  margin-bottom: 25px;
  box-shadow: 0px 7px 0px hsl(249deg 10% 26% / 32%);
}

.free-period h4 {
  padding: 25px 105px;
  text-align: center;
}

#form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

#form div {
  display: grid;
  grid-template-rows: 1fr auto;
}

.text-wrapper {
  text-align: start;
  align-items: center;
}

.text-wrapper h1 {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1;
  max-width: 380px;
  margin: 0 0 25px 0;
}

.text-wrapper p {
  color: white;
  max-width: 500px;
  line-height: 1.5;
}

.terms_and_service {
  padding: 18px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}

.error {
  color: hsl(0, 100%, 74%);
  width: 80%;
  text-align: end;
  justify-self: center;
  padding-top: 5px;
  text-align: end;
  font-size: 10px;
}

.error_input {
  border: 1px solid hsl(0, 100%, 74%);
  outline: none;
  background: url('../images/icon-error.svg') center / contain no-repeat;
  background-position: 95%;
  background-size: 24px;
  }

.error_input::placeholder {
  color: hsl(0, 100%, 74%);
}

@media (max-width: 1080px) {
  .app-wrapper {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    max-width: 375px;
    margin: 0 auto;
    height: 100%;
  }

  .free-period h4 {
    padding: 25px 50px;
    text-align: center;
  }

  .text-wrapper h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.1;
    max-width: 380px;
    margin: 0 0 25px 0;
  }

  .text-wrapper p {
    text-align: center;
    color: white;
    max-width: 500px;
    line-height: 1.5;
  }
}

@media (max-width: 580px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
    background-image: url('../images/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 16px;
    line-height: 1;
  }
}
